.joinContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createGame {
    display: block;
    margin: 40px;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    border-radius: 15px;
    width: 100%;

}

h2 {}

.createGameButton {
    display: grid;
    margin: auto;
    place-content: center;

}

.selectGamerule {
    display: flex;
    flex-direction: column;
}

.joinGame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;
    background-color: #333;
    padding: 10px;
    border-radius: 15px;
    width: 100%;

}

.joinGameTextbox {
    height: 50px;
    margin: 0px;
    font-size: large;
    text-align: center;
}

.joinGameTextbox[type=number]::-webkit-inner-spin-button,
.joinGameTextbox[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.joinGameTextbox[type=number] {
    -moz-appearance: textfield;
}

.joinGameButton {
    height: 50px;
    margin: 0px;
    margin-left: 20px;
}

.headerTextBox {
    display: flex;
    /* center text vertically */
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 1rem 1rem;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    height: 140px;
    /* make the box taller */
    margin-top: 8px;
    /* reduce top space so box sits higher; use negative to lift further */
    /* alternative to lift: position: relative; top: -40px; */
}

.headerTextBox h1 {
    margin: 0;
    font-size: clamp(1.5rem, 6vw, 4rem);
    /* responsive, much bigger text */
    line-height: 1;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* per-character header styling transitions and inline-block for transforms */
.char {
    display: inline-block;
    transition: color 400ms ease, transform 500ms ease, text-shadow 500ms ease, background-color 400ms ease, filter 400ms ease;
}